.sidebar_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Consolas;
}

.sidebar_li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: smaller;
}

.sidebar_li Link{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: smaller;
}

.sidebar_li span{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: smaller;
}

.sidebar_li a.active{
    background-color: #438c97;
    color: white;
}

.sidebar_li a:hover:not(.active) {
    background-color: #555;
    transition: background-color 0.3s ease;
    color: white;
}